li {
    display: flex;
    flex-direction: row; 
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;

    padding: 5px 10px;

    border: 1px solid rgb(219, 216, 216);
    border-radius: 4px;
    background-color: #f9f9f9;
}

div .contact {
    display: flex;
    flex-direction: row; 
    align-items: center;
}

img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

div .contact-info {
    margin-left: 10px;
}

div .contact-actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: flex-start;
    justify-self: flex-end;
    margin-top: 5px;
    gap: 5px;
}