.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  background-color: #fafafa;
  border: 1px solid rgba(51, 51, 51, 0.24);
  border-radius: 8px;
  margin-bottom: 10px;;
}

.app .app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  padding: 5px 0;

  background-color: rgb(15, 149, 202);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.app .app-header img {
  width: 150px;
  height: 30px;
}

.app .app-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  padding: 20px 40px 10px;
}

.app aside {
  width: 250px;
}

.app main {
  display: flex;
  flex-direction: column;

  margin-left: 20px;
}

.app .content, .app .header{
  background: #fff;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.123);
  border: 1px rgb(219, 216, 216) solid;
  border-top: 0;
  padding: 10px 20px;
}

.app .content {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.app .header {
  display: inline-flex;
  align-items: center;
  width: 100%;
  font-size: 20px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 2px solid rgb(15, 149, 202);
}

.app .header strong {
  margin-left: 10px;
}

@media (max-width: 1000px){
  .app .app-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .app main {
    margin-left: 0;
  }

  .app aside {
    width: 100%;
    margin-bottom: 20px;
  }
}