.menu {
    display: flex;
    flex-direction: column;
}

.menu-item {
    display: inline-flex;
    align-items: center;

    font-size: 14px;
}

.menu-item :hover {
    color: rgb(15, 149, 202);
    cursor: pointer;
}

.menu-item strong {
    margin-left: 10px;
}   